body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.calculator, .workout, .nutrition {
    margin-bottom: 20px;
}

label, input, button {
    display: block;
    margin: 10px auto;
    width: 80%;
}

#workoutPlan, #nutritionPlan {
    margin-top: 10px;
}

.exercise {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.exercise input[type="checkbox"] {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    label, input, button {
        width: 90%;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    p, ul {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }

    label, input, button {
        width: 100%;
    }

    h1, h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    p, ul {
        font-size: 0.9em;
    }
}
